.about-titles {
	margin-bottom: 35px;
	position: relative;
}

.about-titles__title {
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	text-align: center;
	color: #383A4C;
	margin-bottom: 25px;
}

.about-titles__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	color: #383A4C;
}

.about-titles__subtitle:before {
	content: url("../../images/dash1600.svg");
	max-width: 43px;
	max-height: 2px;
	position: absolute;
	top: 100px;
	left: 330px;
}

.about-titles__subtitle:after {
	content: url("../../images/dash1600.svg");
	max-width: 43px;
	max-height: 2px;
	position: absolute;
	top: 100px;
	left: 480px;
}

.about-description {
	padding-left: 104px;
	padding-right: 106px;
	margin-bottom: 60px;
}

.about-description__text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #383A4C;
}

.about-cards {
	display: flex;
	justify-content: space-between;
}

.about-cards__row {
	display: none;
}

.about-card {
	max-width: 196px;
}

.about-card:not(:last-child) {
	margin-right: 50px;
}

.about-card__img {
	position: relative;
	padding-left: 36px;
	margin-bottom: 11px;
}

.about-card__image {
	max-width: 122px;
	max-height: 122px;
}

.about-card__number {
	display: inline-block;
	position: absolute;
	top: 34px;
	left: 80px;
	font-style: normal;
	font-weight: 500;
	font-size: 57px;
	line-height: 100%;
	color: #FFFFFF;
}

.about-card__text {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #383A4C;
}

@media (max-width:6144px) {
	.about-titles__subtitle:before {
		top: 60px;
		left: 2600px;
	}

	.about-titles__subtitle:after {
		top: 60px;
		left: 2830px;
	}
}

@media (max-width:4608px) {
	.about-titles__subtitle:before {
		left: 1850px;
	}

	.about-titles__subtitle:after {
		left: 2000px;
	}
}

@media (max-width:3072px) {
	.about-titles__subtitle:before {
		left: 1090px;
	}

	.about-titles__subtitle:after {
		left: 1240px;
	}
}

@media (max-width:2304px) {
	.about-titles__subtitle:before {
		left: 710px;
	}

	.about-titles__subtitle:after {
		left: 860px;
	}
}

@media (max-width:2048px) {
	.about-titles__subtitle:before {
		left: 580px;
	}

	.about-titles__subtitle:after {
		left: 740px;
	}
}

@media (max-width:1920px) {
	.about-titles__subtitle:before {
		left: 510px;
	}

	.about-titles__subtitle:after {
		left: 680px;
	}
}

@media (max-width:1706.67px) {
	.about-titles__subtitle:before {
		left: 400px;
	}

	.about-titles__subtitle:after {
		left: 575px;
	}
}

@media (max-width:1600px) {
	.about-titles__subtitle:before {
		left: 370px;
	}

	.about-titles__subtitle:after {
		left: 517px;
	}
}

@media (max-width:1536px) {
	.about-titles__subtitle:before {
		top: 100px;
		left: 330px;
	}

	.about-titles__subtitle:after {
		top: 100px;
		left: 480px;
	}
}

@media (max-width:1396.36px) {
	.about-card {
		max-width: 220px;
	}

	.about-titles__subtitle:before {
		left: 340px;
	}

	.about-titles__subtitle:after {
		left: 500px;
	}
}

@media (max-width:1228.80px) {
	.about-description {
		padding-left: 70px;
		padding-right: 70px;
	}

	.about-titles__subtitle:before {
		left: 320px;
	}

	.about-titles__subtitle:after {
		left: 470px;
	}

	.about-card__img {
		padding-left: 25px;
	}

	.about-card__number {
		left: 70px;
	}
}

@media (max-width:1024px) {
	.about-titles {
		margin-bottom: 33px;
	}

	.about-titles__title {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 23px;
	}

	.about-titles__subtitle {
		font-size: 20px;
		line-height: 23px;
	}

	.about-titles__subtitle:before {
		top: 55px;
		left: 340px;
	}

	.about-titles__subtitle:after {
		top: 55px;
		left: 480px;
	}

	.about-description {
		padding-left: 102px;
		padding-right: 102px;
	}

	.about-description__text {
		font-size: 16px;
		line-height: 23px;
	}

	.about-card {
		max-width: 180px;
	}

	.about-card__img {
		padding-left: 38px;
		margin-bottom: 26px;
	}

	.about-card__image {
		max-width: 104px;
		max-height: 104px;
	}

	.about-card__number {
		top: 20px;
		left: 75px;
		font-size: 52px;
		line-height: 73px;
	}

	.about-card__text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width:877.71px) {
	.about-card:not(:last-child) {
		margin-right: 0px;
	}

	.about-titles__subtitle:before {
		top: 92px;
		left: 270px;
	}

	.about-titles__subtitle:after {
		top: 92px;
		left: 400px;
	}
}

@media (max-width:768px) {
	.about-card {
		max-width: 130px;
	}

	.about-titles__subtitle:before {
		top: 93px;
		left: 210px;
	}

	.about-titles__subtitle:after {
		top: 93px;
		left: 350px;
	}

	.about-card:not(:last-child) {
		margin-right: 20px;
	}

	.about-card__img {
		padding-left: 15px;
		margin-bottom: 16px;
	}

	.about-card__number {
		top: 15px;
		left: 50px;
	}
}

@media (max-width:614.40px) {
	.about-description {
		padding-left: 50px;
		padding-right: 50px;
	}

	.about-titles__subtitle:before {
		left: 140px;
	}

	.about-titles__subtitle:after {
		left: 280px;
	}

	.about-cards {
		display: none;
	}

	.about-cards__row {
		display: block;
	}

	.about-card__row {
		display: flex;
		justify-content: space-between;
	}

	.about-card__row:not(:last-child) {
		margin-bottom: 50px;
	}

	.about-card__row-one,
	.about-card__row-two {
		max-width: 196px;
	}

	.about-card__img {
		position: relative;
		padding-left: 34.82px;
		margin-bottom: 16px;
	}

	.about-card__image {
		max-width: 122px;
		max-height: 122px;
	}

	.about-card__number {
		display: inline-block;
		position: absolute;
		top: 32px;
		left: 80px;
		font-style: normal;
		font-weight: 500;
		font-size: 57px;
		line-height: 100%;
		color: #FFFFFF;
	}

	.about-card__text {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #383A4C;
	}
}

@media (max-width:512px) {
	.about-description {
		padding-left: 0;
		padding-right: 0;
	}

	.about-titles__subtitle:before {
		top: 132px;
		left: 90px;
	}

	.about-titles__subtitle:after {
		top: 132px;
		left: 240px;
	}

	.about-cards {
		display: none;
	}

	.about-cards__row {
		display: block;
	}

	.about-card__row {
		display: flex;
		justify-content: space-between;
	}

	.about-card__row:not(:last-child) {
		margin-bottom: 50px;
	}

	.about-card__row-one,
	.about-card__row-two {
		max-width: 196px;
	}

	.about-card__row-one:not(:last-child),
	.about-card__row-two:not(:last-child) {
		margin-right: 20px;
	}

	.about-card__img {
		position: relative;
		padding-left: 29px;
		margin-bottom: 16px;
	}

	.about-card__image {
		max-width: 122px;
		max-height: 122px;
	}

	.about-card__number {
		display: inline-block;
		position: absolute;
		top: 32px;
		left: 75px;
		font-style: normal;
		font-weight: 500;
		font-size: 57px;
		line-height: 100%;
		color: #FFFFFF;
	}

	.about-card__text {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #383A4C;
	}
}

@media (max-width:384px) {
	.about-titles {
		margin-bottom: 26px;
	}

	.about-titles__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 15px;
	}

	.about-titles__subtitle {
		font-size: 16px;
		line-height: 19px;
	}

	.about-titles__subtitle:before {
		top: 57px;
		left: 90px;
	}

	.about-titles__subtitle:after {
		top: 57px;
		left: 220px;
	}

	.about-description {
		padding: 0;
	}

	.about-description__text {
		font-size: 12px;
		line-height: 17px;
	}

	.about-cards {
		display: flex;
		flex-direction: column;
		padding-left: 90px;
	}

	.about-cards__row {
		display: none;
	}

	.about-card {
		max-width: 166px;
	}

	.about-card:not(:last-child) {
		margin-bottom: 40px;
	}

	.about-card__img {
		padding-left: 31px;
		margin-bottom: 26px;
	}

	.about-card__image {
		max-width: 104px;
		max-height: 104px;
	}

	.about-card__number {
		top: 15px;
		left: 70px;
		font-size: 52px;
		line-height: 73px;
	}

	.about-card__text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width:320px) {
	.about-titles {
		margin-bottom: 26px;
	}

	.about-titles__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 15px;
	}

	.about-titles__subtitle {
		font-size: 16px;
		line-height: 19px;
	}

	.about-titles__subtitle:before {
		content: url("../../images/dash320.svg");
		max-width: 19.71px;
		max-height: 1px;
		top: 57px;
		left: 75px;
	}

	.about-titles__subtitle:after {
		content: url("../../images/dash320.svg");
		max-width: 19.71px;
		max-height: 1px;
		top: 57px;
		left: 190px;
	}

	.about-description {
		max-width: 290px;
		padding: 0;
		margin-bottom: 40px;
	}

	.about-description__text {
		font-size: 12px;
		line-height: 17px;
	}

	.about-cards {
		display: flex;
		flex-direction: column;
		padding-left: 62px;
	}

	.about-cards__row {
		display: none;
	}

	.about-card {
		max-width: 166px;
	}

	.about-card:not(:last-child) {
		margin-bottom: 40px;
	}

	.about-card__img {
		padding-left: 31px;
		margin-bottom: 26px;
	}

	.about-card__image {
		max-width: 104px;
		max-height: 104px;
	}

	.about-card__number {
		top: 15px;
		left: 70px;
		font-size: 52px;
		line-height: 73px;
	}

	.about-card__text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width:307.20px) {
	.about-titles__subtitle:before {
		left: 80px;
	}

	.about-titles__subtitle:after {
		left: 190px;
	}
}