.about-titles {
	margin-bottom: 35px;
}

.about-titles__title {
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	text-align: center;
	color: #383A4C;
	margin-bottom: 25px;
}

.about-titles__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #383A4C;
}

.about-description {
	padding-left: 104px;
	padding-right: 106px;
	margin-bottom: 50px;
}

.about-description__text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #383A4C;
}

.about-cards {
	display: flex;
	justify-content: space-between;
}

.about-card {
	max-width: 196px;
}

.about-card:not(:last-child) {
	margin-right: 50px;
}

.about-card__img {
	position: relative;
	padding-left: 34.82px;
	margin-bottom: 16px;
}

.about-card__image {
	max-width: 122px;
	max-height: 122px;
}

.about-card__number {
	display: inline-block;
	position: absolute;
	top: 32px;
	left: 80px;
	font-style: normal;
	font-weight: 500;
	font-size: 57px;
	line-height: 100%;
	color: #FFFFFF;
}

.about-card__text {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #383A4C;
}


@media (max-width:1024px) {
	.about-titles {
		margin-bottom: 33px;
	}

	.about-titles__title {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 23px;
	}

	.about-titles__subtitle {
		font-size: 20px;
		line-height: 23px;
	}

	.about-description {
		padding-left: 102px;
		padding-right: 102px;
	}

	.about-description__text {
		font-size: 16px;
		line-height: 23px;
	}

	.about-card {
		max-width: 180px;
	}

	.about-card__img {
		padding-left: 38px;
		margin-bottom: 26px;
	}

	.about-card__image {
		max-width: 104px;
		max-height: 104px;
	}

	.about-card__number {
		top: 20px;
		left: 75px;
		font-size: 52px;
		line-height: 73px;
	}

	.about-card__text {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width:320px) {
	.about-titles {
		margin-bottom: 26px;
	}

	.about-titles__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 15px;
	}

	.about-titles__subtitle {
		font-size: 16px;
		line-height: 19px;
	}

	.about-description {
		max-width: 290px;
		padding: 0;
		margin-bottom: 40px;
	}

	.about-description__text {

		font-size: 12px;
		line-height: 17px;
	}

	.about-cards {
		display: flex;
		flex-direction: column;
		padding-left: 62px;
	}

	.about-card {
		max-width: 166px;
	}

	.about-card:not(:last-child) {
		margin-bottom: 40px;
	}

	.about-card__img {
		padding-left: 31px;
		margin-bottom: 26px;
	}

	.about-card__image {
		max-width: 104px;
		max-height: 104px;
	}

	.about-card__number {
		top: 15px;
		left: 70px;
		font-size: 52px;
		line-height: 73px;
	}

	.about-card__text {
		font-size: 18px;
		line-height: 25px;
	}

}