.contact-form {
	min-width: 602px;
}

.contact-form__title {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	text-align: center;
	color: #FFFFFF;
	padding-left: 124px;
	padding-right: 148px;
	margin-bottom: 19px;
}

.contact-form__text {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 50px;
}

.contact-form__line:not(:last-child) {
	margin-bottom: 21px;
}

.contact-form__lines {
	padding-left: 89px;
	padding-right: 90px;
	margin-bottom: 52px;
}

.contact-form__line-input {
	min-width: 423px;
	min-height: 45px;
	border: 1.38235px solid #FFFFFF;
	border-radius: 50px;
	background: transparent;
	padding-left: 23px;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.5);
}

.contact-form__action {
	padding-left: 192px;
	padding-right: 192px;
	margin-bottom: 50px;
}

.contact-form__action-btn {
	padding: 11px 41px;
	background: #15A9CB;
	box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
	border: none;
	border-radius: 50px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}

.contact-form__agreement-text {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}

.contact-form__agreement-text_link {
	color: rgba(74, 118, 168, 1);
	text-decoration: underline;
}

@media (max-width:6144px) {
	.contact-form__lines {
		max-width: 423px;
		min-height: 174px;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		margin-bottom: 52px;
	}

	.contact-form__action {
		max-width: 219px;
		height: 48px;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		margin-bottom: 50px;
	}
}

@media (max-width:1024px) {
	.contact-form {
		min-width: 537px;
	}

	.contact-form__title {
		font-size: 32px;
		line-height: 38px;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 16px;
	}

	.contact-form__text {
		font-size: 20px;
		line-height: 23px;
	}

	.contact-form__lines {
		min-height: 157px;
	}

	.contact-form__line {
		max-width: 377px;
	}

	.contact-form__line:not(:last-child) {
		margin-bottom: 20px;
	}

	.contact-form__line-input {
		max-width: 377px;
		max-height: 39px;
		border: 2px solid #FFFFFF;
	}

	.contact-form__action {
		margin-bottom: 30px;
	}

	.contact-form__agreement-text {
		font-size: 17px;
		line-height: 20px;
	}
}

@media (max-width:877.71px) {
	.about-card:not(:last-child) {
		margin-right: 0px;
	}
}

@media (max-width:512px) {
	.contact-form {
		min-width: 392px;
	}

	.contact-form__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 10px;
	}

	.contact-form__text {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 35px;
	}

	.contact-form__line:not(:last-child) {
		margin-bottom: 15px;
	}

	.contact-form__lines {
		padding-left: 60px;
		padding-right: 70px;
		margin-bottom: 0;
	}

	.contact-form__line-input {
		min-width: 279px;
		min-height: 28px;
		border: 1px solid #FFFFFF;
		padding-left: 16px;
		font-size: 14px;
		line-height: 16px;
	}

	.contact-form__action {
		padding-left: 35px;
		padding-right: 20px;
		margin-bottom: 60px;
	}

	.contact-form__action-btn {
		padding: 10px 26px;
		box-shadow: 0px 2.69725px 16.8578px rgba(21, 169, 203, 0.3);
		font-size: 16px;
		line-height: 19px;
	}

	.contact-form__agreement-text {
		font-size: 11px;
		line-height: 13px;
	}
}

@media (max-width: 384px) {
	.contact-form {
		min-width: 290px;
	}

	.contact-form__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 10px;
	}

	.contact-form__text {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 35px;
	}

	.contact-form__line:not(:last-child) {
		margin-bottom: 15px;
	}

	.contact-form__lines {
		padding-left: 40px;
		padding-right: 30px;
	}

	.contact-form__line-input {
		min-width: 279px;
		min-height: 28px;
		border: 1px solid #FFFFFF;
		padding-left: 16px;
		font-size: 14px;
		line-height: 16px;
	}

	.contact-form__action {
		margin-bottom: 20px;
	}

	.contact-form__action-btn {
		padding: 10px 26px;
		box-shadow: 0px 2.69725px 16.8578px rgba(21, 169, 203, 0.3);
		font-size: 16px;
		line-height: 19px;
	}

	.contact-form__agreement-text {
		font-size: 11px;
		line-height: 13px;
	}
}

@media (max-width: 320px) {
	.contact-form {
		min-width: 290px;
	}

	.contact-form__title {
		font-size: 20px;
		line-height: 23px;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 10px;
	}

	.contact-form__text {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 35px;
	}

	.contact-form__line:not(:last-child) {
		margin-bottom: 15px;
	}

	.contact-form__lines {
		min-height: 114px;
		padding-left: 13px;
		padding-right: 0;
		margin-bottom: 45px;
	}

	.contact-form__line-input {
		min-width: 270px;
		min-height: 28px;
		border: 1px solid #FFFFFF;
		padding-left: 16px;
		font-size: 14px;
		line-height: 16px;
	}

	.contact-form__action {
		padding-left: 57px;
		padding-right: 59px;
		margin: 0;
		margin-bottom: 30px;
	}

	.contact-form__action-btn {
		min-width: 174px;
		padding: 10px 26px;
		box-shadow: 0px 2.69725px 16.8578px rgba(21, 169, 203, 0.3);
		font-size: 16px;
		line-height: 19px;
	}

	.contact-form__agreement-text {
		font-size: 11px;
		line-height: 13px;
	}
}

@media (max-width:307.20px) {
	.contact-form {
		min-width: 250px;
	}

	.contact-form__title {
		padding-left: 20px;
		padding-right: 20px;
	}

	.contact-form__text {
		font-size: 10px;
	}

	.contact-form__lines {
		min-width: 250px;
		min-height: 140px;
		margin-bottom: 0;
	}

	.contact-form__line-input {
		min-width: 250px;
	}

	.contact-form__action {
		padding-left: 45px;
		padding-right: 20px;
		margin-bottom: 10px;
	}
}