.contacts {
	min-width: 208px;
	min-height: 53px;
	color: #FFFFFF;
	padding-top: 9px;
}

.contacts__phone {
	font-style: normal;
	font-weight: 400;
	font-size: 23.85px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 2.85px;
}

.contacts__link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration-line: underline;
	text-underline-offset: 6px;
}

@media (max-width:1024px) {
	.contacts {
		min-width: 186px;
		min-height: 26px;
		padding-top: 6px;
	}

	.contacts__phone {
		font-size: 21px;
		line-height: 25px;
		margin-bottom: 4px;
	}

	.contacts__link {
		font-size: 13px;
		line-height: 15px;
	}
}

@media (max-width:512px) {
	.contacts {
		min-width: 30px;
		min-height: 30px;
		padding-top: 3px;
		background-image: url("../../images/contacts320.svg");
		background-repeat: no-repeat;
	}

	.contacts__phone {
		display: none;
	}

	.contacts__link {
		display: none;
	}
}

@media (max-width:384px) {
	.contacts {
		min-width: 30px;
		min-height: 30px;
		padding-top: 3px;
		background-image: url("../../images/contacts320.svg");
		background-repeat: no-repeat;
	}

	.contacts__phone {
		display: none;
	}

	.contacts__link {
		display: none;
	}
}

@media (max-width:320px) {
	.contacts {
		min-width: 30px;
		min-height: 30px;
		padding-top: 3px;
		background-image: url("../../images/contacts320.svg");
		background-repeat: no-repeat;
	}

	.contacts__phone {
		display: none;
	}

	.contacts__link {
		display: none;
	}
}

@media (max-width:307.20px) {
	.contacts {
		padding-top: 5px;
	}
}