.contact-image {
	position: relative;
	min-width: 1600px;
	min-height: 621px;
	background-image: url("../../images/original1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-image:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(47, 50, 75, 0.85);
}

@media (max-width: 1024px) {
	.contact-image {
		min-width: 1024px;
		min-height: 558px;
		background-image: url("../../images/original1024.jpg");
	}
}

@media (max-width:512px) {
	.contact-image {
		background-image: url("../../images/original1024.jpg");
	}
}

@media (max-width: 384px) {
	.contact-image {
		min-width: 320px;
		min-height: 398px;
		background-image: url("../../images/original320.jpg");
	}
}

@media (max-width: 320px) {
	.contact-image {
		min-width: 320px;
		min-height: 398px;
		background-image: url("../../images/original320.jpg");
	}
}