.footer-items {
	display: flex;
	justify-content: space-between;
}

.footer-items__logo {
	margin-right: 19px;
}

.footer-items__copyrights {
	margin-right: 301px;
}

.footer-items__copyrights-text {
	min-width: 127px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;
	color: #FFFFFF;
}

.footer-items__copyrights-text:not(:last-child) {
	padding-top: 18px;
}

.footer-items__copyrights-author {
	min-width: 171px;
	padding-top: 27px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;
	color: #FFFFFF;
	margin-right: 304px;
}

.footer-items__contacts {
	padding-top: 7px;
}

.author {
	display: none;
}

@media (max-width:1536px) {
	.footer-items__copyrights {
		margin-right: 270px;
	}

	.footer-items__copyrights-author {
		margin-right: 273px;
	}
}

@media (max-width:1396.36px) {
	.footer-items__copyrights {
		margin-right: 200px;
	}

	.footer-items__copyrights-author {
		margin-right: 203px;
	}
}

@media (max-width:1228.80px) {
	.footer-items__copyrights {
		margin-right: 160px;
	}

	.footer-items__copyrights-author {
		margin-right: 163px;
	}
}

@media (max-width:1024px) {
	.footer-items__logo {
		margin-right: 21px;
	}

	.footer-items__copyrights {
		margin-right: 194px;
	}

	.footer-items__copyrights-author {
		min-width: 164px;
		padding-top: 15px;
		margin-right: 214px;
	}

	.footer-items__contacts {
		padding-top: 6px;
	}
}

@media (max-width:877.71px) {
	.footer-items__copyrights {
		margin-right: 130px;
	}

	.footer-items__copyrights-author {
		margin-right: 130px;
	}
}

@media (max-width:768px) {
	.footer-items__copyrights {
		margin-right: 60px;
	}

	.footer-items__copyrights-text:not(:last-child) {
		padding-top: 4px;
	}

	.footer-items__copyrights-author {
		margin-right: 60px;
	}
}

@media (max-width:614.40px) {
	.logo {
		margin-right: 50px;
	}

	.footer-items__copyrights {
		padding-top: 10px;
	}

	.footer-items__copyrights-author {
		display: none;
	}

	.author {
		display: block;
		background-color: #2A2C3F;
	}

	.author-wrapper {
		padding-top: 15px;
		padding-right: 80px;
		padding-bottom: 15px;
		padding-left: 79px;
	}

	.author__text {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 17px;
		color: #FFFFFF;
		text-align: center;
	}
}

@media (max-width:512px) {
	.footer-items__logo {
		margin-right: 30px;
	}

	.footer-items__copyrights {
		padding-top: 3px;
		padding-left: 50px;
	}

	.footer-items__copyrights-text {
		min-width: 87.3px;
		font-size: 8px;
		line-height: 11px;
		margin-right: 30px;
	}

	.footer-items__copyrights-text:not(:last-child) {
		padding-top: 4px;
	}

	.footer-items__copyrights-author {
		display: none;
	}

	.footer-items__contacts {
		padding-top: 3px;
	}

	.author {
		display: block;
		background-color: #2A2C3F;
	}

	.author-wrapper {
		padding-top: 15px;
		padding-right: 80px;
		padding-bottom: 15px;
		padding-left: 79px;
	}

	.author__text {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 17px;
		color: #FFFFFF;
	}
}

@media (max-width:384px) {
	.footer-items__logo {
		margin-right: 19.07px;
	}

	.footer-items__copyrights {
		padding-top: 0;
		padding-left: 0;
	}

	.footer-items__copyrights-text {
		min-width: 87.3px;
		font-size: 8px;
		line-height: 11px;
		margin-right: 129.45px;
	}

	.footer-items__copyrights-text:not(:last-child) {
		padding-top: 4px;
	}

	.footer-items__copyrights-author {
		display: none;
	}

	.footer-items__contacts {
		padding-top: 3px;
	}

	.author {
		display: block;
		background-color: #2A2C3F;
	}

	.author-wrapper {
		padding-top: 15px;
		padding-right: 80px;
		padding-bottom: 15px;
		padding-left: 79px;
	}

	.author__text {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 17px;
		color: #FFFFFF;
	}
}

@media (max-width:320px) {
	.footer-items__logo {
		margin-right: 19.07px;
	}

	.footer-items__copyrights {
		max-width: 87.3px;
		margin-right: 129.45px;
	}

	.footer-items__copyrights-text {
		font-size: 8px;
		line-height: 11px;
	}

	.footer-items__copyrights-text:not(:last-child) {
		padding-top: 4px;
	}

	.footer-items__copyrights-author {
		display: none;
	}

	.footer-items__contacts {
		padding-top: 3px;
	}

	.author {
		display: block;
		background-color: #2A2C3F;
	}

	.author-wrapper {
		padding-top: 15px;
		padding-right: 80px;
		padding-bottom: 15px;
		padding-left: 79px;
	}

	.author__text {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 17px;
		color: #FFFFFF;
	}
}

@media (max-width:307.20px) {
	.footer-items__logo {
		margin-right: 5px;
	}

	.footer-items__copyrights {
		margin-right: 90px;
	}
}