@media (max-width:384px) {
	.header-items {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width:320px) {
	.header-items {
		display: flex;
		justify-content: space-between;
	}
}