@media (max-width:1024px) {
	.logo {
		max-width: 60px;
		max-height: 60px;
	}
}

@media (max-width:512px) {
	.logo {
		max-width: 30px;
		max-height: 30px;
	}
}

@media (max-width:384px) {
	.logo {
		max-width: 30px;
		max-height: 30px;
	}
}

@media (max-width:320px) {
	.logo {
		max-width: 30px;
		max-height: 30px;
	}
}