.page-image {
	position: relative;
	min-width: 1600px;
	min-height: 732px;
	background-image: url("../../images/stag1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.page-image:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(47, 50, 75, 0.85);
}

@media (max-width:1024px) {
	.page-image {
		min-width: 1024px;
		min-height: 528px;
	}
}

@media (max-width:384px) {
	.page-image {
		min-width: 320px;
		min-height: 441px;
	}
}

@media (max-width:320px) {
	.page-image {
		min-width: 320px;
		min-height: 441px;
	}
}