.page-image {
	position: relative;
	min-width: 1600px;
	min-height: 732px;
	background-image: url("../../images/stag1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.page-image__restangle {
	position: absolute;
	opacity: 0.85;
	top: 0;
}

.page-image__restangle_size {
	min-width: 1600px;
	min-height: 732px;
	background-image: url("../../images/rectangle-img1600.svg");
	background-repeat: no-repeat;
	background-size: cover;

}

@media (max-width:1024px) {
	.page-image {
		background-image: url("../../images/stag1024.jpg");
		min-width: 1024px;
		min-height: 528px;
	}

	.page-image__restangle_size {
		background-image: url("../../images/rectangle-img1024.svg");
		min-width: 1024px;
		min-height: 528px;
	}
}

@media (max-width:320px) {
	.page-image {
		min-width: 320px;
		min-height: 441px;
		background-image: url("../../images/stag320.jpg");
	}

	.page-image__restangle_size {
		min-width: 320px;
		min-height: 441px;
		background-image: url("../../images/rectangle-img320.svg");
	}
}